# 

#Upon opening a PR:
#Link to the issue as provided within the template. 
#(this means that upon merging in the PR, the issue will be closed;'
#this is usually, but not always appropriate, so we may need to consider carefully).

name: Test out linking issue on opening PR
on:
  pull_request:
    types: [opened, reopened] # could look at other build triggers: https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request

jobs:
  example_comment_pr:
    runs-on: ubuntu-latest
    name: An example job to link to an issue as provided in the template
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: 'Comment PR'
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const result = github.rest.pulls.get({ owner: context.issue.number, repo: context.repo.repo, pull_number: context.payload.number });
            console.log(result)
