name: test out comment on a PR
on: pull_request

jobs:
  example_comment_pr:
    runs-on: ubuntu-latest
    name: An example job to comment a PR
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: 'Comment PR'
        uses: actions/github-script@0.3.0
        if: github.event_name == 'pull_request'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            var msg = `# Instructions for code reviewer
            
            Hello reviewer, thanks for taking the time to review this PR!
            
            - Please use this checklist during your review, checking off items that are completed! 
            - Then, comment comment on the pull request with your review indicating where you have questions or changes need to be made before merging.
            - Remember to Make sure to review **every line of code** you’ve been asked to review, look at the context, make sure you’re improving code health, and compliment developers on good things that they do.
            - PR reviews are a great way to learn, so feel free to share your tips and tricks. However for changes not required to make, please include nit: (for nitpicking) before making the suggestion. For example, nit: I prefer using a data.frame() instead of a matrix because...
            
            ## Checklist
            
            - [ ] The code is well-designed.
            - [ ] The functionality is good for the users of the code.
            - [ ] Any User Interface changes are sensible and look good.
            - [ ] Any parallel programming is done safely.
            - [ ] The code isn’t more complex than it needs to be.
            - [ ] The developer isn’t implementing things they might need in the future but don’t know they need now.
            - [ ] Code has appropriate unit tests.
            - [ ] Tests are well-designed.
            - [ ] The developer used clear names for everything.
            - [ ] Comments are clear and useful, and mostly explain why instead of what.
            - [ ] Code is appropriately documented (doxygen and roxygen).
            - [ ] The code conforms to our style guides.
            `
            const { issue: { number: issue_number }, repo: { owner, repo }  } = context;
            github.issues.createComment({ issue_number, owner, repo, body: msg });
            
