# 

#Upon opening a PR:
#Link to the issue as provided within the template. 
#(this means that upon merging in the PR, the issue will be closed;'
#this is usually, but not always appropriate, so we may need to consider carefully).

name: Test out linking issue on opening PR
on: workflow_dispatch
#  pull_request_target:
#    types:
#      - closed
jobs:
  add-milestone:
    runs-on: ubuntu-latest
    #if: github.event.pull_request.merged == true # only run if pull request is merged
    name: An example job to link to an issue as provided in the template
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: 'Do PR actions'
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GH_PAT }}
          script: | 
            # get the text from the PR
            const result = github.rest.pulls.get({ 
              owner: context.repo.owner,
              repo: context.repo.repo, 
              pull_number: context.payload.number });
            # use result.data to extract the issue number
            #echo result.data
            # Add a milestone to an issue (just hardcode milestone for now)
            github.rest.issues.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: 1,
              milestone: '3.30.20' });
            # Update change log
            # Open issues in other repos: SSI, r4ss, doc
            # Details in other workflow
            
